<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.com.ths.sangfor.vpn" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>sangforvpn</name>
    <js-module name="sangforvpn" src="www/sangforvpn.js">
        <clobbers target="cordova.plugins.sangforvpn" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="sangforvpn">
                <param name="android-package" value="cn.com.ths.sangfor.vpn.sangforvpn" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/sangforvpn.java" target-dir="src/cn/com/ths/sangfor/vpn/sangforvpn" />
        <source-file src="src/android/libs/SangforSDK.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/armeabi/libauth_forward.so" target-dir="libs/armeabi" framework="true"/>
        <source-file src="src/android/libs/armeabi/libhttps.so" target-dir="libs/armeabi" framework="true"/>
        <source-file src="src/android/libs/armeabi/libpkcs12cert.so" target-dir="libs/armeabi" framework="true"/>
        <source-file src="src/android/libs/armeabi/libsvpnservice.so" target-dir="libs/armeabi" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libauth_forward.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libhttps.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libpkcs12cert.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libsvpnservice.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <uses-library android:name="org.apache.http.legacy" android:required="false"/>
            <!-- TimeQry服务 -->
            <service android:name="com.sangfor.ssl.service.timeqry.TimeQryService"
            android:exported="false"
            >
                <intent-filter>
                    <action android:name="com.sangfor.ssl.vpn.sdk.action.ACTION_TIMEQRY" />
                </intent-filter>
            </service>
            <!-- VpnService服务 -->
            <service
            android:name="com.sangfor.ssl.l3vpn.service.EasyappSvpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
                <intent-filter>
                    <action android:name="com.sangfor.ssl.l3vpn.service.EasyappSvpnService" />
                </intent-filter>
            </service>
        </config-file>
        <!--<source-file src="src/android/libs/x86/libauth_forward.so" target-dir="libs/x86" framework="true"/><source-file src="src/android/libs/x86/libhttps.so" target-dir="libs/x86" framework="true"/><source-file src="src/android/libs/x86/libpkcs12cert.so" target-dir="libs/x86" framework="true"/><source-file src="src/android/libs/x86/libsvpnservice.so" target-dir="libs/x86" framework="true"/>
		-->
    </platform>
</plugin>